[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
random-word = "==1.0.6"
requests = "*"
sqlalchemy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
